/.quarto/
_freeze/*

./L*files/
./L*cache/
L*files/
L*cache/
!docs/L*files/
./site_libs

Slides/*.pdf

parquiz/*

# Copyright? (Used in slides, but not hosted on Github)
# https://en.wikipedia.org/wiki/Gravity_of_Earth
Slides/figs/Gravity_anomalies_on_Earth.jpg
figs/Gravity_anomalies_on_Earth.jpg
